<!--Ad panel - Horizontal start-->
<div ng-controller="PersonDetailsController" ng-init="init()">
	<div class="row text-center">
		<div class="col-md-12">

			<img src="http://placehold.it/728x90">
		</div>
	</div>
	<p></p>
	<!--Ad panel - Horizontal end-->

	<div class="row ">

		<div class="col-lg-4">
			<div class="panel panel-default">
				<div class="panel-heading text-center">
					<h1 class="panel-title ">
						<b>{{person.username}}</b>
					</h1>
				</div>
				<div class="panel-body text-center">
					<img style="width: 300px; height: 280px;" ng-src={{personImgUrl}} err-SRC="http://centralnormal.spdev.co.nz/images/custom/Staff/NoPerson.png" />
					<p></p>


					<div ng-show="!personSameAsLoggedInUser">
						<strong>Like My Profile?</strong>
					</div>
					<p></p>
					<div ng-show="!personSameAsLoggedInUser" class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" ng-model="chkbox" ng-click="checkClicked()"> <label class="onoffswitch-label"
							for="myonoffswitch"> <span class="onoffswitch-inner"></span> <span class="onoffswitch-switch"></span>
						</label>
					</div>
					<p></p>
					Total likes = {{ likeCount }} <span ng-show="isClicked"><sup>{{counter}}</sup></span>
					<p></p>
					<!-- Some confusion with the logic -->
					<a ng-show="personSameAsLoggedInUser" href="#RegisterPage">
						<button type="submit" class="btn btn-success">Update Profile</button>
					</a> <a ng-show="personSameAsLoggedInUser" href="#UploadPicPage">
						<button type="submit" class="btn btn-warn">Upload Pictures</button>
					</a>

				</div>



			</div>
		</div>



		<!--<div class="row col-md-8">-->
		<div class=" col-lg-4 ">
			<div class="panel-body">
				<table class="table table-hover">
					<tbody>
						<tr>
							<td><strong>Age:</strong></td>
							<td>{{person.age==0?'-':person.age}}</td>
						</tr>
						<tr>
							<td><strong>Occupation:</strong></td>
							<td>{{person.occupation}}</td>
						</tr>
						<tr>
							<td><strong>Annual Income:</strong></td>
							<td>{{person.income}}</td>
						</tr>
						<tr>
							<td><strong>Education:</strong></td>
							<td>{{person.education}}</td>
						</tr>
						<tr>
							<td><strong>Nationality:</strong></td>
							<td>{{person.nationality}}</td>
						</tr>
						<tr>
							<td><strong>Ethnicity:</strong></td>
							<td>{{person.ethnicity}}</td>
						</tr>
						<tr>
							<td><strong>Religion:</strong></td>
							<td>{{person.religion}}</td>
						</tr>
						<tr>
							<td><strong>Languages:</strong></td>
							<td>{{person.language}}</td>
						</tr>
						<tr>
							<td><strong> Marital Status:</strong></td>
							<td>{{person.marital_status}}</td>
						</tr>

						<tr>
							<td><strong> Profile Views:</strong></td>
							<td>{{person.views}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div class="col-lg-4 ">
			<div class="panel-heading">
				<h1 class="panel-title ">
					<b>
						<p class="text-center">Username : {{person.username}}</p>
					</b>
				</h1>
			</div>
			<div class="panel-body">
				<p>
					<strong>Height: </strong>{{person.height}}
				</p>
				<p>
					<strong>Body Type: </strong>{{person.bodytype}}
				</p>
				<p>
					<strong>Hair color: </strong>{{person.haircolor}}
				</p>
				<p>
					<strong>Eye color: </strong>{{person.eyecolor}}
				</p>
				<p>
					<strong>Smoke: </strong>{{person.smoke}}
				</p>
				<p>
					<strong>Children: </strong>{{person.children}}
				</p>
				<p>
					<strong>Home: </strong>{{person.home}}
				</p>
				<p>
					<strong>Living in: </strong>{{person.city}},{{person.country}}
				</p>
				<p>
					<strong>Read Quran: </strong>{{person.quran}}
				</p>
				<p>
					<strong>Relocation: </strong>{{person.relocate}}
				</p>
				<p>
					<strong>Last login: </strong>{{lastLoginFormatted}}
				</p>
			</div>
		</div>




		<!--</div>-->

		<div class="clearfix visible-lg"></div>
	</div>



	<!-- More Pics  Panel Begin-->
	<div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading text-center">
				<strong>More pics!</strong>
			</div>
			<!-- /.panel-heading -->

			<div class="panel-body">
				<!-- Nav tabs -->

				<div class="wrapper col-md-12 ">
					<div class="photos">
					<!-- <div ng-repeat="pic_url in more_pics_url track by $index" class="panel panel-default col-md-3" ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()"> -->
					<div ng-repeat="pic_url in more_pics_url track by $index" class="col-md-3">


							<span ng-show="hoverEdit" class="animate-show" style="max-width: 100%; max-height: 100%;"> <a> <img err-SRC="http://centralnormal.spdev.co.nz/images/custom/Staff/NoPerson.png"
									ng-src={{pic_url}} style="max-width: 100%; max-height: 100%;">
							</a>
							</span> <img ng-src={{pic_url}} ng-show="!hoverEdit" err-SRC="http://centralnormal.spdev.co.nz/images/custom/Staff/NoPerson.png" style="width: 200px; height: 200px;" alt="gallery thumbnail" />


					</div>
					</div>
				</div>


				<!-- <div class="col-md-12 ">

					<div ng-repeat="pic_url in more_pics_url track by $index" class="panel panel-default col-md-3">
						<div class="innerbox text-center">
							<a class="test-popup-link" href={{pic_url}} ng-click="modal()"> <img err-SRC="http://centralnormal.spdev.co.nz/images/custom/Staff/NoPerson.png" ng-src={{pic_url}}
								style="max-width: 100%; max-height: 100%;">
							</a>
						</div>
					</div>
				</div> -->


			</div>

			<!-- /.panel-body -->



		</div>
		<!-- /.panel -->
	</div>
	<!-- More Pics  Panel End-->



	<!--More About Panel Begin-->
	<div class="row col-lg-12">
		<div class="panel panel-default">
			<div class="text-center panel-heading">
				<strong>About Myself</strong>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body" style="max-height: 600pt; overflow-y: scroll;">
				<p>{{person.description}}.</p>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!--More About Panel End -->


	<!--Looking for  Panel Begin-->
	<div class="row col-lg-12">
		<div class="panel panel-default">
			<div class="text-center panel-heading">
				<strong>About My Match</strong>
			</div>
			<!-- /.panel-heading -->
			<div class="panel-body" style="max-height: 600pt; overflow-y: scroll;">
				<p>{{person.mymatch}}.</p>
			</div>
			<!-- /.panel-body -->
		</div>
		<!-- /.panel -->
	</div>
	<!--Looking for Panel End -->

	<!--Network Panel Begin-->
	<!-- <div class="row col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">{{person.name}}'s Network</div>
			/.panel-heading
			<div class="panel-body">
				Nav tabs
				<tabset> <tab> <tab-heading> <span>Friends</span>
				</tab-heading>

				<div class="col-md-12 ">
					<div ng-repeat="friend in person.friends | filter:searchFor "
						class="panel panel-default col-md-3">
						<div class=" text-center">
							<strong>{{friend.name}}</strong>
						</div>
						<div class="innerbox text-center">
							<img src={{friend.pic}} style="width: 200px; height: 150px;" />
						</div>
					</div>
				</div>

				</tab> <tab-heading>
				<div class="col-sm-3 col-md-3 pull-right">
					<form class="navbar-form" role="search">
						<div class="input-group">
							<input type="text" ng-model="searchFor" class="form-control"
								placeholder="Search Network" name="srch-term" id="srch-term">
							<div class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<i class="glyphicon glyphicon-search"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
				</tab-heading> </tabset>

			</div>
		</div>
	</div> -->
	<!--Network Panel End-->



	<!-- Send quick msg box start -->
	<div ng-show="!personSameAsLoggedInUser" class=" panel panel-default row col-lg-12">

		<div class="form-group">
			<div class="text-center">
				<label>Send {{person.name}} a quick message:</label>
			</div>
			<textarea id="messageArea" ng-model="emailContent" class="form-control" rows="4"></textarea>
			<p></p>
			<div class="text-center" ng-controller="EmailController">
				<a href="#HomePage">
					<button type="submit" class="btn btn-success" ng-click="sendMessage(person.id)">Send Message</button>
				</a>
			</div>

		</div>
	</div>
<!-- Send quick msg box end -->

	<div  ng-show="!personSameAsLoggedInUser" class="text-center">
		<a href="#PersonDetails">
			<button type="submit" class="btn btn-warning" ng-click="addContact(person.id)">Add to Contacts</button>
		</a> 
		<a href="#PersonDetails">
			<button type="submit" class="btn btn-danger" ng-click="flagUser(person.id)">Flag as inappropriate</button>
		</a>

		<div ng-show="contactAddedSuccess" class="text-center">
			<strong>Successfully added to your contacts.</strong>
		</div>

		<p></p>
		<div ng-show="addingInProgress">
			Adding to your contacts.. Please wait...
			<p></p>
			<img ng-src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif">
		</div>


		<div ng-show="reportFlag">
			<form role="form">
				<div class="form-group">
					<div class="row">
						<div class="col-lg-4"></div>
						<div class="form-group col-lg-4 text-center">
							<label>Select Reason for flagging:</label> <select class="form-control" ng-model="reason">
								<option value="Inappropriate Language">Inappropriate Language</option>
								<option value="Obscenity">Obscenity</option>
								<option value="Inaccurate information">Inaccurate information</option>
								<option value="Picture not showing face">Picture not showing face</option>

							</select>
						</div>
						<div class="col-lg-4"></div>
					</div>
				</div>

				<div class="row text=center">
					<div class="col-lg-3"></div>
					<button class="btn btn-success col-lg-2" ng-click="reportSaved(person.id)">Save</button>
					<div class="col-lg-2"></div>
					<button class="btn btn-danger col-lg-2" ng-click="reportCancelled()">Cancel</button>
					<div class="col-lg-3"></div>
				</div>
			</form>

		</div>
		
		<div ng-show="reportSuccess" class="text-center">
			<strong>Thank you for reporting the profile. Our moderators will review your report and take appropriate action.</strong>
		</div>

		<div ng-show="reportFail" class="text-center">
			<strong>Could not report at this time. Please try again later.</strong>
		</div>

	</div>


	





	<!--Ad panel - Horizontal start-->
	<p></p>
	<div class="row text-center">
		<div class="col-md-12">

			<img src="http://s1.2mdn.net/viewad/4157372/Adobe_CCM_DR_Save40EOLPhs1_728x90_img.jpeg" alt="Advertisement" border="0" width="728" height="90">
		</div>
	</div>
	<p></p>
	<!--Ad panel - Horizontal end-->

</div>