<div class="row">
	<!--Side ad panel begin-->
	<div class="col-lg-2">
		<img id="image-4" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg" alt="">
		<p></p>
		<p></p>
		<img id="image-4" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg" alt="">
	</div>
	<!--Side ad panel end-->

	<div ng-controller="MeetMeController" ng-init="init()" class="col-lg-8">
		<p></p>
		<div class="text-center" ng-show="isLoading">
			<p></p>
			<img ng-src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif">
		</div>


		<div ng-hide="isLoading" class="panel panel-default">
			<div class="panel-heading text-center">
				<strong>These are the people who would love to meet you.</strong>
			</div>
			<div class="panel-body">

				<table ng-table="tableParams" class="table" ng-hide="isLoading">
					<tr ng-repeat="meeter in $data">

						<td data-title="'Picture'" sortable=""><a href="#PersonDetails" ng-click="personFromListSelected(meeter.profile_id)"> <img ng-src={{getImgUrl(meeter.main_img)}}
								err-SRC="http://centralnormal.spdev.co.nz/images/custom/Staff/NoPerson.png" style="width: 100px; height: 100px;" /></a></td>

						<td data-title="'Age'" sortable="'birth'"><a href="#PersonDetails" ng-click="personFromListSelected(meeter.profile_id)">{{processDate(meeter.birth)}} </a></td>

						<td data-title="'Occupation'" sortable="'occupation'"><a href="#PersonDetails" ng-click="personFromListSelected(meeter.profile_id)">{{meeter.occupation}} </a></td>

						<td data-title="'City'" sortable="'city'"><a href="#PersonDetails" ng-click="personFromListSelected(meeter.profile_id)">{{meeter.city}} </a></td>

						<td data-title="'Country'" sortable="'country'"><a href="#PersonDetails" ng-click="personFromListSelected(meeter.profile_id)">{{meeter.country}} </a></td>
						<td data-title="'Likes'" sortable="'likes'"><a href="#PersonDetails" ng-click="personFromListSelected(meeter.profile_id)">{{meeter.likes}} </a></td>

						<td data-title="'Requested When'" sortable="'meet_req_when'"><a href="#PersonDetails" ng-click="personFromListSelected(meeter.profile_id)"> {{ processDate(meeter.meet_req_when)}}</a></td>

						<td data-title="'Last Online'" sortable="'last_login'"><a href="#PersonDetails" ng-click="personFromListSelected(meeter.profile_id)">
								{{processOnlineStatus(meeter.online_status,meeter.last_login)}}</a></td>
					</tr>
				</table>
			</div>
		</div>






		<div class="text-center" ng-hide="areResultsPresent()">
			<mark>None so far.</mark>
		</div>
		<div class="text-center" ng-show="serviceErrored">
			<mark>Oops. Something very bad just happened. Try refreshing your browser.</mark>
		</div>
	</div>

	<!--Side ad panel begin-->
	<div class="col-lg-2">
		<img id="image-4" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg" alt="">
		<p></p>
		<p></p>
		<img id="image-4" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg" alt="">
	</div>
	<!--Side ad panel end-->
</div>