<div class="row">
	<!--Side ad panel begin-->
	<div class="col-lg-2">
		<img id="image-4" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg" alt="">
		<p></p>
		<p></p>
		<img id="image-4" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg" alt="">
	</div>
	<!--Side ad panel end-->

	<div ng-controller="EmailController" ng-init="init()" class="col-lg-8">
		<div class="row">

			<div class="col-md-12">

				<div class="text-center" ng-show="isLoading">
					<p></p>
					<img ng-src="https://i1.wp.com/cdnjs.cloudflare.com/ajax/libs/galleriffic/2.0.1/css/loader.gif">
				</div>

				<div class="panel panel-default" ng-repeat="email in emailConversations | orderBy: 'email_time' ">
					<div class="panel-body">

						<div>
							<a href="#PersonDetails" ng-click="picInsideEmailClicked(email.sender_id)"> <img style="width: 50px; height: 50px;" id="image-4" ng-src={{getImgUrl(email.sender_main_img)}}
								err-SRC="http://centralnormal.spdev.co.nz/images/custom/Staff/NoPerson.png" alt="">
							</a> <small>{{processDateForEmailPage(email.email_time)}}</small>

							<blockquote>
								<p>
									<small>{{email.message}}</small>
								</p>
							</blockquote>
						</div>


					</div>
				</div>


				<!-- Send quick msg box start -->
				<div ng-show="!isLoading" class=" panel panel-default">
					<form ng-controller="EmailController" name='submitForm'>
						<div class="form-group">
							<div class="text-center">
								<label>Send {{person.name}} a quick message:</label>
							</div>
							<textarea class="form-control" ng-model="emailContent" rows="4" required></textarea>
							<p></p>
							<div class="text-center">
								<a href="#HomePage">
									<button type="submit" class="btn btn-success" ng-click="sendMessage()" ng-disabled="submitForm.$pristine || submitForm.$invalid">Send Message</button>
								</a>
							</div>

						</div>
					</form>
				</div>

				<!-- Send quick msg box end -->
			</div>
		</div>

	</div>


	<!--Side ad panel begin-->
	<div class="col-lg-2">
		<img id="image-4" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg" alt="">
		<p></p>
		<p></p>
		<img id="image-4" src="http://placekitten.com.s3.amazonaws.com/homepage-samples/200/286.jpg" alt="">
	</div>
	<!--Side ad panel end-->
</div>