
<div class="row text-center">
	<div class="col-md-3 ">
		<p></p>
		<p></p>
		<i>"And among His Signs is this, that He created for you mates from among yourselves, that ye may dwell in tranquillity with them, and He has put love and mercy between your (hearts): verily in
			that are Signs for those who reflect."</i>
		<p></p>
		Find the person who will love you for the sake of Allah!
		<p></p>
		<p></p>
		<p></p>
		<h2>World's First 100% Free Site for Single Muslims.</h2>
		<p></p>

	</div>

	<div class="col-md-4" ng-controller="RegisterController">

		<div class="panel panel-default myBlackColor">
			<div class="panel-body">
				<label>100% Free Access!</label>

				<form role="form" name="registerForm" ng-submit="register(registerForm.$valid)" novalidate>

					<div class="form-group" ng-class="{ 'has-error' : registerForm.registerUsername.$invalid  && submitted}">
						<label for="registerUsername">Username</label> <input id="registerUsername" type="text" class="form-control" name="registerUsername" placeholder="Enter username" ng-model="registerUsername"
							ng-minlength="3" ng-maxlength="8" required>
						<p ng-show="registerForm.registerUsername.$invalid && !registerForm.registerUsername.$pristine" class="help-block">Username must be between 3 & 8 characters</p>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : registerForm.registerEmail.$invalid  && submitted}">
						<label for="registerEmail">Email</label> <input type="email" id="registerEmail" name="registerEmail" class="form-control" placeholder="Enter username" ng-model="registerEmail" required>
						<p ng-show="registerForm.registerEmail.$invalid && !registerForm.registerEmail.$pristine" class="help-block">Email must be valid and active.</p>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : registerForm.registerPassword.$invalid && submitted}">
						<label for="registerPassword">Password</label> <input type="password" class="form-control" id="registerPassword" name="registerPassword" placeholder="Password" ng-model="registerPassword"
							ng-minlength="5" required>
						<p ng-show="registerForm.registerPassword.$invalid && !registerForm.registerPassword.$pristine" class="help-block">Password must be at least 5 characters.</p>
					</div>

					<div class="form-group" ng-class="{ 'has-error' :  registerForm.optradio.$invalid  && submitted}">

						<label>Your Gender</label> <label class="radio-inline"> <input type="radio" name="optradio" value="1" ng-model="gender" required>Male
						</label> <label class="radio-inline"> <input type="radio" name="optradio" value="2" ng-model="gender" required>Female
						</label>
						<p ng-show="gender == undefined && submitted" class="help-block">Select gender</p>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : !checkboxValue && submitted}">
						<div class="checkbox">
							<label><input type="checkbox" name="registerCheck" ng-model="checkboxValue" required><small>I certify that I am 18 or over, that I have read and accepted the <a href="#/LoginPage">
										Terms and Conditions</a> as well as the Privacy Policy of MuslimBuds.com
							</small></label>
						</div>
					</div>

					<button type="submit" class="btn btn-success btn-lg">Register</button>
					<p></p>
					<span ng-hide="submitted" class="text-danger">{{registrationResponseFail}}</span> <span ng-hide="submitted" class="text-success">{{registrationResponsePass}}</span> <span
						ng-show="submitted && isFormValid" class="text-warning">Please wait..</span>
				</form>
			</div>
		</div>



	</div>
	<div align="left" class="col-md-2">
		<p></p>
		<p></p>
		<span class="customTextColor"><strong>10,000+ </strong></span>Members
		<p></p>
		<span class="customTextColor"><strong>2134</strong></span> Online
		<p></p>
		<span class="customTextColor"><strong>298,765</strong></span> messages exchanged
		<p></p>
		See:
		<p></p>
		<ul>
			<li>Who viewed you</li>
			<li>Who liked you</li>
			<li>Who wants to meet you</li>
			<li>Who read your message</li>
		</ul>

		<p></p>


		And much more!
		<p></p>
		<h4>No Premium or A-list upgrades. It's free and always will be - insha Allah</h4>


	</div>
	<div class="col-md-3">

		<div class="panel panel-default myBlackColor">
			<div class="panel-body">
				<label>Login in here.</label>
				<form role="form" name="loginForm" novalidate>
					<div class="form-group">
						<input type="text" id="loginField" name="loginField" class="form-control" placeholder="Enter username" ng-model="loginUsername" required>
					</div>
					<div class="form-group">
						<label>Password</label> <input type="password" id="passwordField" name="passwordField" class="form-control" placeholder="Password" ng-model="loginPassword" required>
					</div>
					<button type="submit" class="btn btn-success" ng-disabled="loginForm.$invalid" ng-click="login()">Login</button>
					<button type="submit" class="btn btn-default" ng-click="requestForgot()">Forgot login</button>

					<p></p>
					<span class="text-danger">{{ loginMessage }}</span>
				</form>
			</div>
		</div>

		<!--  -->

		<div id="forgotPanel" ng-show="forgotClicked() " class="panel panel-default">
			<div class="panel-body">
				<label>Enter Email Address</label>
				<form role="form" name="forgotForm" novalidate>
					<div class="form-group">
						<input id="forgotEmail" type="email" name="forgotEmail" class="form-control" placeholder="Enter email" ng-model="forgotEmail" required>
					</div>
					<button type="submit" class="btn btn-default" ng-disabled="forgotForm.$invalid" ng-click="forgotLoginSubmitted()">Submit</button>
					<p></p>
					<span class="text-success">{{ forgotMessagePass }}</span> <span class="text-danger">{{ forgotMessageFail }}</span> <span ng-show="forgotMessageInProgress"> Processing... </span>
				</form>
			</div>
		</div>
	</div>
</div>



<!--Meet someone new Panel Begin-->
<div ng-controller="LoginController" ng-init="init()" class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading text-center ">
			<strong class="myBlackColor"> Meet someone new today</strong>
		</div>
		<!-- /.panel-heading -->
		<div class="panel-body text-center">
			<!-- Nav tabs -->

			<div class="col-md-12 text-center ">


				<div ng-repeat="random_pic in random_profile_ids track by $index" class="panel  col-md-3">
					<a href="#PersonDetailsUnregistered" ng-click="randomPersonSelected(random_pic)">
						<div class="panel-body text-center ">
							<div>
								<img style="width: 150px; height: 150px;" ng-src={{random_pic}} err-SRC="http://centralnormal.spdev.co.nz/images/custom/Staff/NoPerson.png" />
							</div>
							<!-- {{visitor_city}} -->
						</div>
					</a>
				</div>

			</div>


		</div>
		<!-- /.panel-body -->



	</div>
	<!-- /.panel -->
</div>
<!--Meet someone new Panel End-->

<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

	<!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<img class="text-center" style="width: 200px; height: 200px;" src="https://s3-us-west-2.amazonaws.com/mbuds/gohalal.gif">

			<h2>Get Married</h2>
			<p><i>"When the servant of Allah marries, he has fulfilled half the (responsibilities laid on him by the) faith; so let him be God conscious with respect to the other half."[Mishkat]</i></p>
			<p>MuslimBuds.com is for those muslims who are serious about marriage. </p>
			<!-- <p>
				<a class="btn" href="#">View details &raquo;</a>
			</p> -->
		</div>
		<!-- /.span4 -->
		<div class="col-lg-4">
			<img class="text-center" style="width: 200px; height: 200px;" src="https://s3-us-west-2.amazonaws.com/mbuds/quality.gif">
			<h2>Code of Conduct</h2>
			<p>While Muslimbuds.com is completely Free, we have a 'zero tolerance' policy for spam and inappropriate profiles. Every profile is scrutinized and membership of violators is suspended. Our 'Flag as Inappropriate' feature allows members to report profiles thus building social pressure to maintain a safe, Islamic, environment for all our members.</p>
			<!-- <p>
				<a class="btn" href="#">View details &raquo;</a>
			</p> -->
		</div>
		<!-- /.span4 -->
		<div class="col-lg-4">
			<img class="text-center" style="width: 200px; height: 200px;" src="https://s3-us-west-2.amazonaws.com/mbuds/Free.png">
			<h2>Free and Simple</h2>
			<p>Our goal is to provide a simple and cost free means to enable muslims all around the world to find their right match. The site has been designed to be simple and easy to use and we hope that the members will enjoy their visit and find a suitable match quickly Insha Allah .</p>
			<!-- <p>
				<a class="btn" href="#">View details &raquo;</a>
			</p> -->
		</div>
		<!-- /.span4 -->
	</div>
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	<!-- <hr class="featurette-divider"> -->

	<div class="featurette">
		<img class="img-circle pull-right" style="width: 500px; height: 450px;" src="https://s3-us-west-2.amazonaws.com/mbuds/nikah.jpg">
		<!-- <img class="featurette-image pull-right" src="http://getbootstrap.com/2.3.2/assets/img/examples/browser-icon-chrome.png"> -->
		<h2 class="featurette-heading">
			What is MuslimBuds.com?
		</h2>
		<p class="lead">MuslimBuds is the world's first 100% Free match making site for muslims. Our goal is to provide the best matrimonial service for muslims with focus on areas that are most important to Muslims such as deen, personality, family, and social life.</p>
	</div>

	<hr class="featurette-divider">

	<div class="featurette">
		<img class="featurette-image img-circle pull-left" style="width: 500px; height: 450px;" src="https://s3-us-west-2.amazonaws.com/mbuds/goodmen.jpg">
		<!-- <img class="featurette-image pull-left" src="http://getbootstrap.com/2.3.2/assets/img/examples/browser-icon-firefox.png"> -->
		<h2 class="featurette-heading">
			International Matrimonial Service
		</h2>
		<p class="lead">Our membership base is made up  single muslims from USA, Europe, Asia, the Middle East and many other countries. We are committed to helping you find the perfect Islamic match, no matter where in the world they may be.</p>
	</div>

	<hr class="featurette-divider">

	<div class="featurette">
		<img class="featurette-image img-circle pull-right" style="width: 500px; height: 450px;" src="https://s3-us-west-2.amazonaws.com/mbuds/walking.jpg">
		<!-- <img class="featurette-image pull-right" src="http://getbootstrap.com/2.3.2/assets/img/examples/browser-icon-safari.png"> -->
		<h2 class="featurette-heading">
			So what can i do?
		</h2>
		<p class="lead">Once you sign up, you can take immediately browse or search our growing international database of members around the world. Contact them and exchange messages at no cost. In addition you can check who Viewed and Liked your profile. Who read your sent messages, add contacts and much more.</p>
	</div>

	<hr class="featurette-divider">

	<!-- /END THE FEATURETTES -->

	<table class="table table-hover text-center">
			
		<tbody>
			<tr>
				<td><strong>Features</strong></td>
				<td><strong>MuslimBuds</strong></td>
				<td><strong>SingleMuslim</strong></td>
				<td><strong>Nikah.com</strong></td>
				<td><strong>Zawaj</strong></td>
				<td><strong>Qiran</strong></td>
				<td><strong>Muslima</strong></td>
				<td><strong>Shaadi</strong></td>
				
			</tr>
			<tr>

				<td>Send unlimited messages</td>
				<td><span class="customGreenColor glyphicon glyphicon-ok"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>

			</tr>
				<tr>

				<td>Receive unlimited messages</td>
				<td><span class="customGreenColor glyphicon glyphicon-ok"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>

			</tr>
			<tr>

				<td>Like Profile</td>
				<td><span class="customGreenColor glyphicon glyphicon-ok"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
			</tr>
			<tr>

				<td>See who viewed you</td>
				<td><span class="customGreenColor glyphicon glyphicon-ok"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>

			</tr>
			<tr>

				<td>See who read your sent msg</td>
				<td><span class="customGreenColor glyphicon glyphicon-ok"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>

			</tr>
			<tr>

				<td>See who liked your profile</td>
				<td><span class="customGreenColor glyphicon glyphicon-ok"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>

			</tr>
			<tr>

				<td>Add and search contacts</td>
				<td><span class="customGreenColor glyphicon glyphicon-ok"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>

			</tr>
			<tr>

				<td>Report Inappropriate Profiles</td>
				<td><span class="customGreenColor glyphicon glyphicon-ok"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>
				<td><span class="customRedColor glyphicon glyphicon-remove"></span></td>

			</tr>
			<tr>

				<td>Photos</td>
				<td>12</td>
				<td>12</td>
				<td>3</td>
				<td>6</td>
				<td>6</td>
				<td>7</td>
				<td>5</td>

			</tr>
			<tr>

				<td>Price</td>
				<td><strong style="color: #030; background-color: #8E8; padding: 2px 5px; border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;">Free</strong></td>
				<td><strong>$39</strong></td>
				<td><strong>$29</strong></td>
				<td><strong>$39</strong></td>
				<td><strong>$45</strong></td>
				<td><strong>$29</strong></td>
				<td><strong>N/A</strong></td>

			</tr>
		</tbody>
	</table>
	<hr class="featurette-divider">

	<!-- FOOTER -->
	<footer>
		<p class="pull-right">
			<a href="#/LoginPage">Back to top</a>
		</p>
		<p>
			<!-- &copy; 2015 MuslimBuds.com, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a> -->
			&copy; 2015 MuslimBuds.com, Inc. &middot; 
		</p>
	</footer>

</div>
<!-- /.container -->

