<div class="row">
	<!--Side ad panel begin-->
	<div class="col-lg-2">
		<iframe src="//go.padstm.com/?id=311881&t=iframe&var=53117" style="width:120px;height:600px;border:0;overflow:hidden;"></iframe>
	</div>
	<!--Side ad panel end-->

	<div ng-controller="MeetController" ng-init="meetRandom()" class="col-lg-8">
		<div class="panel panel-default text-center">
			<div class="panel-heading">
				<strong>Would you consider Meeting them someday?</strong>
			</div>
			<div class="panel-body">
				<img ng-src={{randomPersonsPicUrl}} err-SRC="http://centralnormal.spdev.co.nz/images/custom/Staff/NoPerson.png" style="width: 400px; height: 350px;" />
			</div>
			<div class="panel-footer">
				<button ng-click="yesClicked()" ng-disabled="!isLoggedIn()" class="btn btn-success">Yes</button>
				<button ng-click="noClicked()" class="btn btn-warning">No</button>
				<div ng-show="!isLoggedIn()" class="alert alert-danger" role="alert">You need to <a href="#/LoginPage">signup </a>in order to be able to make a 'Yes' choice</div>
			</div>
		</div>
	</div>

	<!--Side ad panel begin-->
	<div class="col-lg-2">
		<iframe src="//go.padstm.com/?id=311881&t=iframe&var=53117" style="width:120px;height:600px;border:0;overflow:hidden;"></iframe>
	</div>
	<!--Side ad panel end-->
</div>



<!--Ad panel - Horizontal start-->
<div class="row text-center">
	<div class="col-md-12">

<!-- 		<img src="http://s1.2mdn.net/viewad/4157372/Adobe_CCM_DR_Save40EOLPhs1_728x90_img.jpeg" alt="Advertisement" border="0" width="728" height="90"> -->
		<iframe src="//go.padstm.com/?id=311883&t=iframe&var=53117" style="width:728px;height:90px;border:0;overflow:hidden;"></iframe>
	</div>
</div>
<p></p>
<!--Ad panel - Horizontal end-->
